/* src/App.css */

.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
    width: 200px;
    display: inline-block;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  p {
    font-size: 1em;
    color: #555;
  }
  